extends layout.pug

block title
  title Chatverse - #{room}

block styles
  link(rel="stylesheet", href="/css/chat.css")

block content
  main
    section.hero.is-fullheight(id='page')
      .hero-head
        .container
          nav.level
            .level-item.has-text-centered
              .download
                a.nav-el(id='convo-dl') Download Convo
            .level-item.has-text-centered
              .theme
                a.nav-el(id='change-theme') Lights off
            .level-item.has-text-centered
              .user-count
                p.nav-el Users Count:
                  span(id='users-count')
      .hero-body
        .container.has-text-centered
          .columns
            .column.is-6.is-offset-3
              .msg-area(id='msg-area')
              .feedback(id='feedback')
          .columns
            .column.is-6.is-offset-3
              .handle-form-cont(id="handle-form-cont")
                form(id='handle-form' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
                  .field
                    .control.is-expanded
                      input.input.is-shadowless.minimal-input(type="text", name="handle", id='handle', placeholder="Enter Username")
              .msg-form-cont(id="msg-form-cont")
                form(id='msg-form' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
                  .field
                    .control.is-expanded
                      input.input.is-shadowless.minimal-input(type="text" name="message" placeholder='Click here and write' id='message')


block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/chat-io.js")