<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Chatverse
    
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei|Montserrat")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css")
    link(rel="stylesheet", href="/css/global.css")
    link(rel="stylesheet", href="/css/notify.css")
    block styles

  body
    block content

    script(src="/js/bulma.js")
    script(src="/js/notify.js")
    block scripts