img{
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

input{
  cursor: pointer;
}
input:focus, input:active{
  cursor: text;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.handle-form-cont{
  opacity: 1;
}
.handle-form-cont-hide{
  opacity: 0;
  transition: opacity .3s ease;
}

.msg-form-cont{
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.msg-form-cont-show{
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: opacity .3s ease;
}

.minimal-input{
  background: none;
  border: none;
  text-align: center;
  font-family: 'Montserrat', serif;
  color: inherit;
}
.minimal-input::placeholder {
  text-align: center;
  opacity: 1;
  color: inherit;
}
.minimal-input:focus::placeholder{
  opacity: 0;
  transition: opacity .4s ease;
}
.control::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 1px;
  background: #999;
  width: 0;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}
.control::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0px;
  background: #999;
  width: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .4s ease;
}
.control:focus-within::before{
  content: '';
  width: 80%;
}
.control:focus-within::after{
  content: 'press enter to send';
  width: 80%;
  opacity: .4;
}
.msg-area{
  max-height: 40vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: height .3s ease;
}
.msg-area::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
